<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/master.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    <header class="header">
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" />
        </div>
        <div>
            <input type="text" />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="leyenda-inicio">
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de credito</p>
        </div>
        <nav class="barra-nav">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <br>
            <ul>
                <li>Crea tu cuenta<i class="fa-solid fa-address-card"></i></li>
                <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis Compras<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" />
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" />
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" />
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy s10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" />
                <p>$23.300</p>
                <p>5% OFF</p>
                <h4>Smart Tv Samsung 43"</h4>
            </div>
        </section>
        <section>
            <h2>Seccion de ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" />
                <p>$6.770</p>
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" />
                <p>$230.000</p>
                <p>20% OFF</p>
                <h4>Macbook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" />
                <p>$70.500</p>
                <p>10% OFF</p>
                <h4>Samsung Galaxy s10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" />
                <p>$23.300</p>
                <p>5% OFF</p>
                <h4>Smart Tv Samsung 43"</h4>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>


    <!--Script para Font Awesome-->
    <script src="https://kit.fontawesome.com/7ca3a38005.js" crossorigin="anonymous"></script>
</body>

</html>